<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'" />
  <title>Hello Electron React!</title>
</head>

<body class="ec-header-fixed ec-sidebar-fixed ec-sidebar-light ec-header-light sidebar-minified-out" id="body">
  <div id="root"></div>
</body>

</html>